<h1>Listing charges for <%= @account.name %></h1>

<table>
  <thead>
    <tr>
      <th>Amount in cents</th>
      <th>Last Updated At</th>
      <th>Current state</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.amount_in_cents %></td>
        <td><%= charge.state.created_at %></td>
        <td><%= charge.state.state %></td>
        <td><%= link_to 'Show', account_charge_path(@account, charge) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charge', new_account_charge_path(@account) %> |
<%= link_to "Edit account", edit_account_path(@account) %>
