<h1>Charge #<%= @charge.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Amount in cents:</strong>
  <%= @charge.amount_in_cents %>
</p>

<p>
  <strong>Account:</strong>
  <%= link_to @charge.account.name, account_charges_path(@account) %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @charge.created_at %>
</p>

<%= link_to 'Back to account', account_charges_path(@account) %>
